*                 text=auto

*.sh              text eol=lf
*.service         text eol=lf
*.env             text eol=lf
*.ini             text eol=lf

*.py              text eol=lf
*.rst             text
*.md              text
*.txt             text
*.json            text eol=lf
*.yaml            text eol=lf
*.yml             text eol=lf
*.template        text eol=lf

*.dockerignore    text
Dockerfile        text

*.png             binary
*.dia             binary
*.svg             text
*.tar.gz          binary

.renovaterc       text
.travis           text
.gitattributes    text
.gitconfig        text
