language: python
python:
- '3.7'
dist: "bionic"
cache: pip
jobs:

install:
  - ./.ci/install-requirements.sh
  - sudo gem install github_changelog_generator

script:
  - ./style-check.sh
  - ./.ci/build.sh
  - ./.ci/install.sh
  - ./.ci/releases.sh
  - source releases.env
  - cd wrappers/python
  - ./tests/run_all_examples.sh

before_deploy:
  - github_changelog_generator -t "${GH_TOKEN}"

deploy:
- provider: releases
  api_key: ${GH_TOKEN}
  file_glob: true
  file:
    - "${TRAVIS_BUILD_DIR}/wrappers/python/dist/*"
    - "${TRAVIS_BUILD_DIR}/wrappers/python/CHANGELOG.md"
  skip_cleanup: true
  draft: ${GH_RELEASE_DRAFT} = true
  name: ${GH_RELEASE_NAME}
  body: ${GH_RELEASE_BODY}
  prerelease: ${GH_RELEASE_CANDIDATE}
  on:
    tags: true
    branch: master

- provider: pypi
  user: Wirepas
  password: ${PYPI_PWD}
  skip_existing: true
  skip_cleanup: true
  on:
    tags: true
    branch: master

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
    - PYTHON_PKG_PATH="wrappers/python"
    - PYTHON_PKG_NAME="wirepas_messaging"
