language: python
python:
- '3.7'
dist: xenial
cache: pip
jobs:

install:
  - "./.ci/install-requirements.sh"
  - sudo gem install github_changelog_generator

script:
  - "./.ci/build.sh"
  - "./.ci/install.sh"
  - ./.ci/releases.sh
  - source releases.env
  - cd wrappers/python
  - github_changelog_generator -t "${GH_TOKEN}"

deploy:
- provider: releases
  api_key: ${GH_TOKEN}
  file_glob: true
  file:
    - "${TRAVIS_BUILD_DIR}/wrappers/python/dist/*"
    - "${TRAVIS_BUILD_DIR}/wrappers/python/CHANGELOG.md"
  skip_cleanup: true
  draft: ${GH_RELEASE_DRAFT} = true
  name: ${GH_RELEASE_NAME}
  body: ${GH_RELEASE_BODY}
  on:
    all_branches: true
#    tags: true
#    branch: master

- provider: pypi
  user: Wirepas
  server: https://test.pypi.org/legacy/
  password: ${PYPI_TEST_PWD}
  skip_existing: true
  skip_cleanup: true
  on:
    tags: true
    branch: master

- provider: pypi
  user: Wirepas
  server: https://test.pypi.org/legacy/
  password: ${PYPI_PWD}
  skip_existing: true
  skip_cleanup: true
  on:
    tags: true
    branch: master

